<div class="isc-page">

  <h1 class="only-desktop"
      ng-if="!navCtrl.sessionModel.isAuthenticated()">{{'ISC_MESSAGES_OUTBOX_TITLE' | translate}}</h1>
  <h1 class="only-desktop"
      ng-if="navCtrl.sessionModel.isAuthenticated()">{{navCtrl.sessionModel.getFullName()}}'s {{'ISC_MESSAGES_OUTBOX_TITLE' | translate}}</h1>

  <div isc-messages-emergency-warning
       close-warning="mssgCtrl.closeEmergencyWarning()"
       show-emergency-warning="mssgCtrl.showEmergencyWarning"
       ng-class="{'show-warning' : mssgCtrl.showEmergencyWarning}"></div>

  <div id="fixed-scroll"
       class="isc-scroll-stick-container"
       ng-class="{'scroll-stick':mssgCtrl.scrollStick}"
       isc-scroll-detect
       top-pos-array="[150, 110, 300]"
       add-class="mssgCtrl.setButtonClass( val )">

    <button class="isc-btn-secondary pull-left"
            ng-disabled="!mssgCtrl.mailMessageService.someMessageIsSelected()">{{'ISC_ARCHIVE' | translate}}</button>

    <div class="pull-left only-phone">
      <button class="isc-btn-secondary"
              ng-click="mssgCtrl.openSortOptions()">{{'ISC_SORT' | translate}}&nbsp;<span class="fa fa-chevron-down"></span></button>
    </div>

  </div>

  <div ng-include="'messages/iscMessagesOutboxes.html'"></div>

</div>
