
<div class="isc-content">
    <div class="isc-page">

        <!--<h1>{{ 'ISC_ALL_SENSORS_SUBTITLE' | translate }}</h1>-->

        <table class="compact results">
            <tr>
                <th>Sensor</th>
                <th>Item</th>
                <th>State</th>
                <th>Value</th>
                <th>History</th>
                <th>Maximum</th>
                <th>Mean</th>
                <th>Std. Deviation</th>
            </tr>
            <tr ng-repeat="sensor in asCtrl.sensors">
                <td>{{sensor.Sensor}}</td>
                <td>{{sensor.SensorItem}}</td>
                <td><div class={{sensor.State==2?"red":sensorState==1?"yellow":"green"}}></div></td>
                <td>{{sensor.Value}}</td>
                <td>{{sensor.Trend}}</td>
                <td>{{sensor.Maximum}}</td>
                <td>{{sensor.Mean}}</td>
                <td>{{sensor.StdDeviation}}</td>
            </tr>
        </table>
    </div>
</div>


