
.isc-history-table{
  @extend .isc-table;


  @media #{$mobile} {

    padding-bottom: 15px;


    td {

        display: table-cell;
        min-width: 150px;
        padding-left: 0px!important;


    }
    
    tr {
      display: table-row;
    }


    td:nth-of-type(2){

      width:100%;

    }

    tr:nth-of-type(even){
      background-color: lightsteelblue;
    }


    tr:nth-of-type(odd){
      background-color: lightgoldenrodyellow;
    }
  }

 /* @media #{$mobile} {


    td:nth-of-type(1):before {
      content: "Time";
      font-weight: 900;
    }

    td:nth-of-type(2):before {
      content: "Event";
      font-weight: 900;
    }

    td:nth-of-type(3):before {
      content: "Performed By";
      font-weight: 900;
    }
  }*/
}


